<div class="well">
  <div style="display:grid;grid-template-columns:repeat(12,1fr);gap:1rem">
    <div style="grid-column:span 1">{{ "COMPONENTS.LICENSE.KEY" | translate }}</div>
    <div style="grid-column:span 8">
      <input
        id="licenseKey"
        [(ngModel)]="licenseService?.licenseDetails?.license.key"
        (ngModelChange)="saveLicenseKey()"
        class="input"
        [disabled]="!this.storeService.configSys.sysInfo.setup.java.isJavaOk"
        autofocus
        required
        />
      </div>
      @if (
        !licenseService?.licenseDetails?.license.key &&
        (!licenseService?.licenseDetails?.license.status ||
        licenseService?.licenseDetails?.license.status === 0)
        ) {
        <div
          style="grid-column:span 3"
          >
          <a href="https://store.datapallas.com" target="_blank">
            <button id="btnGetLicenseKey" class="btn btn-primary" type="button">
              {{ "COMPONENTS.LICENSE.GET-LICENSE-KEY" | translate }}
            </button>
          </a>
        </div>
      }
      @if (
        !licenseService?.licenseDetails?.license.key &&
        licenseService?.licenseDetails?.license.status
        ) {
        <div
          style="grid-column:span 3"
          >
          <button
            id="btnCheckLicenseKeyDisabled"
            class="btn btn-primary"
            type="button"
            [disabled]="true"
            >
            {{ "COMPONENTS.LICENSE.CHECK-LICENSE-KEY" | translate }}
          </button>
        </div>
      }
      @if (licenseService?.licenseDetails?.license.key) {
        <div style="grid-column:span 3">
          @if (
            licenseService?.licenseDetails?.license.status &&
            licenseService?.licenseDetails?.license.status != 'deactivated'
            ) {
            <button
              id="btnCheckLicenseKey"
              class="btn btn-primary"
              type="button"
              (click)="verifyLicense('check')"
              [disabled]="executionStatsService?.jobStats.numberOfActiveJobs > 0"
              >
              {{ "COMPONENTS.LICENSE.CHECK-LICENSE-KEY" | translate }}
            </button>
          }
          @if (
            !licenseService?.licenseDetails?.license.status ||
            licenseService?.licenseDetails?.license.status.length == 0 ||
            licenseService?.licenseDetails?.license.status == 'deactivated'
            ) {
            <button
              id="btnActivateLicenseKey"
              class="btn btn-primary"
              type="button"
              (click)="verifyLicense('activate')"
              [disabled]="executionStatsService?.jobStats.numberOfActiveJobs > 0"
              >
              {{ "COMPONENTS.LICENSE.ACTIVATE-LICENSE-KEY" | translate }}
            </button>
          }
        </div>
      }
    </div>
    <p></p>
    <div style="display:grid;grid-template-columns:repeat(12,1fr);gap:1rem">
      <div style="grid-column:span 1">{{ "COMPONENTS.LICENSE.STATUS" | translate }}</div>

      @if (
        !licenseService?.licenseDetails?.license.status ||
        licenseService?.licenseDetails?.license.status.length == 0 ||
        licenseService?.licenseDetails?.license.status == 'deactivated'
        ) {
        <div
          style="grid-column:span 8"
          >
          <span id="statusDemoLicense" class="badge badge-warning rounded-full">{{
            "COMPONENTS.LICENSE.DEMO-TRIAL" | translate
          }}</span>
        </div>
      }

      @if (
        licenseService?.licenseDetails?.license.status &&
        licenseService?.licenseDetails?.license.status != 'valid' &&
        licenseService?.licenseDetails?.license.status != 'expired' &&
        licenseService?.licenseDetails?.license.status != 'deactivated'
        ) {
        <div
          style="grid-column:span 8"
          >
          <span id="statusInvalidLicense" class="badge badge-error rounded-full">{{
            "COMPONENTS.LICENSE.INVALID-LICENSE" | translate
          }}</span>
        </div>
      }

      @if (
        licenseService?.licenseDetails?.license.status &&
        licenseService?.licenseDetails?.license.status === 'valid'
        ) {
        <div
          style="grid-column:span 8"
          >
          <span id="statusActiveLicenseKey" class="badge badge-primary rounded-full"
            >{{ "COMPONENTS.LICENSE.STATUS-ACTIVE" | translate }} ({{
            licenseService?.licenseDetails?.license.customername
            }})</span
            >
          </div>
        }

        @if (
          licenseService?.licenseDetails?.license.status &&
          licenseService?.licenseDetails?.license.status === 'expired'
          ) {
          <div
            style="grid-column:span 8"
            >
            <a href="https://www.pdfburst.com/renew.html" target="_blank">
              <span id="statusExpiredLicense" class="badge badge-warning rounded-full"
                >{{ "COMPONENTS.LICENSE.STATUS-EXPIRED" | translate }} ({{
                licenseService?.licenseDetails?.license.customername
                }})</span
                >&nbsp;
                <span class="badge badge-primary rounded-full">{{
                  "COMPONENTS.LICENSE.RENEW-LICENSE" | translate
                }}</span>
              </a>
            </div>
          }
        </div>
        <div style="display:grid;grid-template-columns:repeat(12,1fr);gap:1rem">
          <div style="grid-column:span 1">{{ "COMPONENTS.LICENSE.VERSION" | translate }}</div>

          <div style="grid-column:span 11">
            <span id="version" class="badge badge-ghost"
              ><em>{{ settingsService.product }}</em
              >&nbsp;{{ settingsService.version }}</span
              >&nbsp;
              <!--<dburst-update [succint]="true"></dburst-update>-->
            </div>
          </div>
          <br />
          <div id="whatsnew" style="display:grid;grid-template-columns:repeat(12,1fr);gap:1rem">
            <div style="grid-column:span 12">
              <dburst-whats-new></dburst-whats-new><br />
              @if (
                licenseService?.licenseDetails?.license.status &&
                licenseService?.licenseDetails?.license.status === 'valid'
                ) {
                <a
                  id="deactivateLicenseKey"
                  style="cursor: pointer"
                  (click)="deActivateLicense()"
                  >_</a
                  >
              }
            </div>
          </div>
        </div>
