@if (executionStatsService.logStats.foundDirtyLogFiles) {
  <div [id]="viewerId">
    <dp-tabs>
      @if (executionStatsService.logStats.infoLogFileSize > 0) {
        <dp-tab
      heading="{{
        'COMPONENTS.LOG-FILES-VIEWER-ALL-TOGETHER.INFO-LOG-PREVIEW' | translate
      }}"
          >
          <div
            id="infoLog"
            class="card-body"
        style="
          color: var(--color-info, #3b82f6);
          background-color: var(--color-base-200);
          height: 421px;
          overflow-y: scroll;
          overflow-x: auto;
          -webkit-user-select: all;
          user-select: all;
        "
            >
            <dburst-log-file-viewer logFileName="info.log"></dburst-log-file-viewer>
          </div>
        </dp-tab>
      }
      @if (executionStatsService.logStats.warningsLogFileSize > 0) {
        <dp-tab
      heading="{{
        'COMPONENTS.LOG-FILES-VIEWER-ALL-TOGETHER.WARNINGS-LOG-PREVIEW'
          | translate
      }}"
          >
          <div
            id="warningsLog"
            class="card-body"
        style="
          color: var(--color-warning, #f59e0b);
          background-color: var(--color-base-200);
          height: 421px;
          overflow-y: scroll;
          overflow-x: auto;
          -webkit-user-select: all;
          user-select: all;
        "
            >
            <dburst-log-file-viewer
              logFileName="warnings.log"
            ></dburst-log-file-viewer>
          </div>
        </dp-tab>
      }
      @if (executionStatsService.logStats.errorsLogFileSize > 0) {
        <dp-tab
      heading="{{
        'COMPONENTS.LOG-FILES-VIEWER-ALL-TOGETHER.ERRORS-LOG-PREVIEW'
          | translate
      }}"
          >
          <div
            id="errorsLog"
            class="card-body"
        style="
          color: var(--color-error, #ef4444);
          background-color: var(--color-base-200);
          height: 421px;
          overflow-y: scroll;
          overflow-x: auto;
          -webkit-user-select: all;
          user-select: all;
        "
            >
            <dburst-log-file-viewer
              logFileName="errors.log"
            ></dburst-log-file-viewer>
          </div>
        </dp-tab>
      }
    </dp-tabs>
  </div>
}
